Import Statements

In [23]:
import pandas as pd

Format dataset into a table

In [24]:
df = pd.read_csv("sug_users_vids_all.csv")
df

,id,create_time,user_name,hashtags,song,video_length,n_likes,n_shares,n_comments,n_plays,n_followers,n_total_likes,n_total_vids
0,6892428462015958273,1604768557,john.cena10,"['johncena', 'love', 'tiktok', 'fyp', 'foryoup...",الصوت الأصلي,8,1984,3,18,12800,1000000,4700000,211
1,6891790235336822018,1604619960,john.cena10,"['johncena', 'love', 'tiktok', 'halloween', 'q...",الصوت الأصلي,6,7372,9,51,52800,1000000,4700000,211
2,6891264678832475393,1604497592,john.cena10,"['johncena', 'love', 'fyp', 'foryoupage']",The Time Is Now (John Cena),5,4623,11,27,37700,1000000,4700000,211
3,6891050048403049730,1604447622,john.cena10,"['johncena', 'fyp', 'foryoupage', 'viral', 'co...",الصوت الأصلي,6,7931,6,24,51200,1000000,4700000,211
4,6890886086613126402,1604409445,john.cena10,"['johncena', 'foryoupage', 'fyp', 'viral']",الصوت الأصلي,15,3229,9,14,24700,1000000,4700000,211
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41697,6886179281634905349,1603313593,victoriabachlet,[],original sound,19,23900,48,181,110300,3600000,141500000,987
41698,6885924542754114822,1603254315,victoriabachlet,[],original sound,13,40300,211,229,181100,3600000,141500000,987
41699,6885815006982671621,1603228764,victoriabachlet,[],original sound,18,21400,49,142,106800,3600000,141500000,987
41700,6885806757847895301,1603226846,victoriabachlet,[],wheres my love by syml,18,50100,331,1148,188800,3600000,141500000,987
41701,6885567759367884037,1603171287,victoriabachlet,[],original sound,16,219400,2428,2552,681900,3600000,141500000,987

In [25]:
df = df.drop('create_time', axis=1)
df = df.drop('id', axis=1)
df = df.drop('song', axis=1)
df = df.drop('n_total_vids', axis=1)
df

,user_name,hashtags,video_length,n_likes,n_shares,n_comments,n_plays,n_followers,n_total_likes
0,john.cena10,"['johncena', 'love', 'tiktok', 'fyp', 'foryoup...",8,1984,3,18,12800,1000000,4700000
1,john.cena10,"['johncena', 'love', 'tiktok', 'halloween', 'q...",6,7372,9,51,52800,1000000,4700000
2,john.cena10,"['johncena', 'love', 'fyp', 'foryoupage']",5,4623,11,27,37700,1000000,4700000
3,john.cena10,"['johncena', 'fyp', 'foryoupage', 'viral', 'co...",6,7931,6,24,51200,1000000,4700000
4,john.cena10,"['johncena', 'foryoupage', 'fyp', 'viral']",15,3229,9,14,24700,1000000,4700000
...,...,...,...,...,...,...,...,...,...
41697,victoriabachlet,[],19,23900,48,181,110300,3600000,141500000
41698,victoriabachlet,[],13,40300,211,229,181100,3600000,141500000
41699,victoriabachlet,[],18,21400,49,142,106800,3600000,141500000
41700,victoriabachlet,[],18,50100,331,1148,188800,3600000,141500000
41701,victoriabachlet,[],16,219400,2428,2552,681900,3600000,141500000